{%- assign author_name = site.author.name | default: site.title -%}
{%- assign author_page_url = site.author.url | default: site.url -%}
{%- assign page_canonical = site.url | append: page.url -%}
{%- capture author_node -%}
{"@type":"Person","name":{{ author_name | jsonify }},"url":{{ author_page_url | jsonify }}}
{%- endcapture -%}
{%- capture person_entity -%}
{"@type":"Person","name":{{ author_name | jsonify }},"url":{{ author_page_url | jsonify }}{% if site.social.links and site.social.links.size > 0 %},"sameAs":{{ site.social.links | jsonify }}{% endif %}}
{%- endcapture -%}
{% if page.url == '/' or page.layout == 'about' or page.layout == 'story' or page.layout == 'essay' %}
<script type="application/ld+json">
{% if page.url == '/' %}
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ author_name | jsonify }},
  "url": {{ site.url | jsonify }},
  "jobTitle": "Author"{% if site.social.links and site.social.links.size > 0 %},
  "sameAs": {{ site.social.links | jsonify }}{% endif %}
}
{% elsif page.layout == 'about' %}
{
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "url": {{ page_canonical | jsonify }},
  "mainEntity": {{ person_entity }}
}
{% elsif page.layout == 'story' %}
{
  "@context": "https://schema.org",
  "@type": "ShortStory",
  "name": {{ page.title | jsonify }},
  "author": {{ author_node }},
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "url": {{ page_canonical | jsonify }}{% if page.genre and page.genre.size > 0 %},
  "genre": {{ page.genre | jsonify }}{% endif %}{% if page.about and page.about.size > 0 %},
  "about": [
    {% for topic in page.about %}
    {"@type": "Thing", "name": {{ topic | jsonify }}}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]{% endif %}
}
{% elsif page.layout == 'essay' %}
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "author": {{ author_node }},
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "url": {{ page_canonical | jsonify }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ page_canonical | jsonify }}
  }{% if page.about and page.about.size > 0 %},
  "about": [
    {% for topic in page.about %}
    {"@type": "Thing", "name": {{ topic | jsonify }}}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]{% endif %}{% if page.keywords and page.keywords.size > 0 %},
  "keywords": {{ page.keywords | join: ", " | jsonify }}{% endif %}
}
{% endif %}
</script>
{% endif %}
